<html>
<head>
    <title>Media Player with Countdown</title>
    <link rel="stylesheet" href="../node_modules/font-awesome/css/font-awesome.min.css" />
    <link rel="stylesheet" href="../node_modules/jquery-ui-themes/themes/smoothness/jquery-ui.min.css" />
    <link rel="stylesheet" href="index.css" />
</head>
<body>
    <video id="video" autoplay>
        <source type="video/mp4">
    </video>
    <div id="timer" class="widget"></div>
    <div id="done">
        <img id="donepic" />
        <video id="donevideo" loop>
            <source type="video/mp4">
        </video>
    </div>
    <div id="btnpanel">
        <i id="settings" class="fa fa-fw fa-gear"></i>
        <i id="quit" class="fa fa-fw fa-power-off"></i>
    </div>
    <form id="settingsForm">
        <h1>Settings</h1>
        <p>
            This app will randomly play media from a given directory until a target time arrives.
            As that time gets closer, the timer will become more prominent. When the time finally arrives,
            a provided image or video will be displayed.
        </p>
        <h2>Display Selection</h2>
        <p>
            You can choose to display this application on a secondary display.
        </p>
        <div>
            <label>Display:</label>
            <select id="frmDisplay"></select>
        </div>
        <h2>Meeting Settings</h2>
        <p>
            You can have specific settings for different meeting times.
        </p>
        <div id="tabs">
            <ul id="list">
                <li><a href="#newtab" id="create_tab">+</a></li>
            </ul>
            <div id="newtab">Placeholder for the create_tab tab!</div>
        </div>
        <div class="settingsBtnContainer">
            <label>&nbsp;</label>
            <button type="button" id="btnCancel">Cancel</button>
            <button type="button" id="btnSave">Save</button>
        </div>
    </form>
    <div id="settingsTabTemplate" class="tab">
        <h2>Media Library</h2>
        <p>Any videos and images in this directory will be played in a random order.</p>
        <div>
            <label>Directory:</label>
            <input type="text" class="frmVideoDirectory" />
            <button type="button" class="frmVideoDirectoryBrowse">Browse&hellip;</button>
        </div>
        <div>
            <label>Image Duration:</label>
            <input type="number" class="frmImageDuration" />
            seconds
        </div>
        <h2>Countdown Timer</h2>
        <p>
            You can provide the target time when the media will stop playing. 
            You can also specify when the timer will appear and when it will fill the screen, becoming
            more prominent.
        </p>
        <div>
            <label>Target Time:</label>
            <input type="time" class="frmStartTime" />
            to
            <input type="time" class="frmEndTime" />
        </div>
        <div>
            <label>Start showing timer:</label>
            <input type="number" class="frmPhase2threshold" /> seconds remaining.
        </div>
        <div>
            <label>Fullscreen timer:</label>
            <input type="number" class="frmPhase1threshold" /> seconds remaining.
        </div>
        <h2>Completion Media</h2>
        <p>
            The video or picture that you provide will be displayed when the timer runs to zero.
        </p>
        <div>
            <label>Video or Image:</label>
            <input type="text" class="frmDoneMedia" />
            <button type="button" class="frmDoneMediaBrowse">Browse&hellip;</button>
        </div>
    </div>
    <div id="debug" class="widget"></div>
    <script src="index.js"></script>
</body>
</html>